USE [Webshop_wpf]
GO
/****** Object:  Table [dbo].[Rendelesek]    Script Date: 2026. 04. 07. 13:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rendelesek](
	[RendelesID] [int] IDENTITY(1,1) NOT NULL,
	[VasarloID] [int] NULL,
	[RendelesDatum] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[RendelesID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RendeltTermekek]    Script Date: 2026. 04. 07. 13:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RendeltTermekek](
	[RendeltTermekID] [int] IDENTITY(1,1) NOT NULL,
	[RendelesID] [int] NULL,
	[TermekID] [int] NULL,
	[Mennyiseg] [int] NULL,
	[Ar] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[RendeltTermekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Termek]    Script Date: 2026. 04. 07. 13:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Termek](
	[TermekID] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](100) NOT NULL,
	[Leiras] [nvarchar](255) NULL,
	[Ar] [decimal](10, 2) NULL,
	[Keszlet] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[TermekID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vasarlok]    Script Date: 2026. 04. 07. 13:57:39 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vasarlok](
	[VasarloID] [int] IDENTITY(1,1) NOT NULL,
	[Nev] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[Cim] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[VasarloID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Rendelesek] ON 

INSERT [dbo].[Rendelesek] ([RendelesID], [VasarloID], [RendelesDatum]) VALUES (5, 1, CAST(N'2026-03-01T00:00:00.000' AS DateTime))
INSERT [dbo].[Rendelesek] ([RendelesID], [VasarloID], [RendelesDatum]) VALUES (6, 2, CAST(N'2026-03-02T00:00:00.000' AS DateTime))
INSERT [dbo].[Rendelesek] ([RendelesID], [VasarloID], [RendelesDatum]) VALUES (7, 1, CAST(N'2026-03-05T00:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[Rendelesek] OFF
GO
SET IDENTITY_INSERT [dbo].[RendeltTermekek] ON 

INSERT [dbo].[RendeltTermekek] ([RendeltTermekID], [RendelesID], [TermekID], [Mennyiseg], [Ar]) VALUES (4, 5, 1, 1, CAST(350000.00 AS Decimal(10, 2)))
INSERT [dbo].[RendeltTermekek] ([RendeltTermekID], [RendelesID], [TermekID], [Mennyiseg], [Ar]) VALUES (5, 5, 8, 1, CAST(12000.00 AS Decimal(10, 2)))
INSERT [dbo].[RendeltTermekek] ([RendeltTermekID], [RendelesID], [TermekID], [Mennyiseg], [Ar]) VALUES (6, 6, 2, 1, CAST(120000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[RendeltTermekek] OFF
GO
SET IDENTITY_INSERT [dbo].[Termek] ON 

INSERT [dbo].[Termek] ([TermekID], [Nev], [Leiras], [Ar], [Keszlet]) VALUES (1, N'Laptop', N'15 colos, 16GB RAM', CAST(350000.00 AS Decimal(10, 2)), 10)
INSERT [dbo].[Termek] ([TermekID], [Nev], [Leiras], [Ar], [Keszlet]) VALUES (2, N'Okostelefon', N'128GB, fekete', CAST(120000.00 AS Decimal(10, 2)), 25)
INSERT [dbo].[Termek] ([TermekID], [Nev], [Leiras], [Ar], [Keszlet]) VALUES (3, N'Feherjepor', N'500g, vanilia', CAST(7000.00 AS Decimal(10, 2)), 50)
SET IDENTITY_INSERT [dbo].[Termek] OFF
GO
SET IDENTITY_INSERT [dbo].[Vasarlok] ON 

INSERT [dbo].[Vasarlok] ([VasarloID], [Nev], [Email], [Cim]) VALUES (1, N'Kiss Peter', N'kisspeter@mail.com', N'Budapest, Fovam utca 5')
INSERT [dbo].[Vasarlok] ([VasarloID], [Nev], [Email], [Cim]) VALUES (2, N'Nagy Maria', N'nagymaria@mail.com', N'Debrecen, Kis utca 12')
INSERT [dbo].[Vasarlok] ([VasarloID], [Nev], [Email], [Cim]) VALUES (3, N'Horvath Attila', N'horvath.attila@mail.com', N'Szeged, Tisza Lajos krt. 20')
SET IDENTITY_INSERT [dbo].[Vasarlok] OFF
GO
ALTER TABLE [dbo].[Rendelesek] ADD  DEFAULT (getdate()) FOR [RendelesDatum]
GO
ALTER TABLE [dbo].[Rendelesek]  WITH CHECK ADD FOREIGN KEY([VasarloID])
REFERENCES [dbo].[Vasarlok] ([VasarloID])
GO
ALTER TABLE [dbo].[RendeltTermekek]  WITH CHECK ADD FOREIGN KEY([RendelesID])
REFERENCES [dbo].[Rendelesek] ([RendelesID])
GO
ALTER TABLE [dbo].[RendeltTermekek]  WITH CHECK ADD FOREIGN KEY([TermekID])
REFERENCES [dbo].[Termek] ([TermekID])
GO
